<?xml version="1.0"?>
<config>
	<modules>
		<Loomy_Liqpay>
			<version>1.2.3</version>
		</Loomy_Liqpay>
	</modules>
	
	<global>
		<models>
			<lliqpay>
				<class>Loomy_Liqpay_Model</class>
			</lliqpay>
		</models>
        <helpers>
            <lliqpay>
                <class>Loomy_Liqpay_Helper</class>
            </lliqpay>
        </helpers>
		<resources>
			<lliqpay_setup>
				<setup>
					<module>Loomy_Liqpay</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</lliqpay_setup>
			<lliqpay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</lliqpay_write>
			<lliqpay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</lliqpay_read>
		</resources>
		<blocks>
			<lliqpay><class>Loomy_Liqpay_Block</class></lliqpay>
		</blocks>
	</global>
	
	<frontend>
		<routers>
			<lliqpay>
				<use>standard</use>
				<args>
					<module>Loomy_Liqpay</module>
					<frontName>lliqpay</frontName>
				</args>
			</lliqpay>
		</routers>
		<translate>
			<modules>
				<Loomy_Liqpay>
					<files>
						<default>Loomy_Liqpay.csv</default>
					</files>
				</Loomy_Liqpay>
			</modules>
		</translate>
		<layout>
            <updates>
                <lliqpay>
                    <file>lliqpay.xml</file>
                </lliqpay>
            </updates>
        </layout>
	</frontend>
	
	<adminhtml>
		<translate>
			<modules>
				<Loomy_Liqpay>
					<files>
						<default>Loomy_Liqpay.csv</default>
					</files>
				</Loomy_Liqpay>
			</modules>
		</translate>
	</adminhtml>
	
	<default>
		<payment>		
			<lliqpay_cc>
				<active>0</active>
				<model>lliqpay/cc</model>
				<order_status>pending</order_status>
				<order_success>1</order_success>
				<title>Оплата пластиковой картой</title>
				<redirect_url>https://www.liqpay.com/?do=clickNbuy</redirect_url>
				<create_invoice>1</create_invoice>
				<goods_id>0</goods_id>
				<exp_time></exp_time>
				<available_methods>card,liqpay,delayed</available_methods>
			</lliqpay_cc>
		</payment>
	</default>
	
	<crontab>
        <jobs>
            <loomy_liqpay_validate_all>
                <schedule><cron_expr>*/15 * * * *</cron_expr></schedule>
                <run><model>lliqpay/cron::validateAll</model></run>
            </loomy_liqpay_validate_all>
        </jobs>
    </crontab>
</config>
